export COUCHBASE_HOST="127.0.0.1"
export MEMCACHED_HOST="127.0.0.1"
export MEMCACHED_PORT="11211"        
export SIP_REALM="mpower.kazoodev.overpass.com"
export SIP_WSURL="wss://kazoodev.overpass.com:8445"
export SIP_APIURL="http://kazoodev.overpass.com"
export SIP_APIPORT="8000"
export SIP_APIACCOUNT_CREDENTIALS="44927db22610ad06be0d47ea0a433f7b"
export SIP_APIACCOUNT_KEY="77ab1ef89e92049b69110c2d71fa5a48"
export SIP_APIACCOUNT_NAME="mpower.kazoodev.overpass.com"
export AWS_ACCESSS_KEY_ID="AKIAIPHHEO7WIPXRZX6A"
export AWS_SECRET_ACCESS_KEY="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"
export AWS_REGION="us-east-1"
export TW_ACCOUNT_SID="AC2644d64da26907339487c7eeaa6e80be"
export TW_AUTH_TOKEN="b5077f315171b684e3251c3d2343cb44"
export TW_FROM_PHONE="+12678734374"
export TW_CODE_LENGTH="6"
export TW_CHAR_POOL="0123456789"
export TW_CODE_EXPIRE_HOURS="72"
export TW_MAX_ATTEMPTS="5"
export TW_TEST_MODE=true
export TW_TEST_CODE="123456"
export MANDRIL_HOST="smtp.mandrillapp.com"
export MANDRIL_PORT="587"
export MANDRIL_USERNAME="rafael@overpass.com"
export MANDRIL_KEY="Uobv-CuqhCaanv7lavFE3Q"
export MANDRIL_DEFAULT_FROM_EMAIL="rafael+testin@overpass.com"
export MANDRIL_DEFAULT_FROM_NAME="Overpass"
export SG_HOST="127.0.0.1"
export ES_HOST="127.0.0.1"
export SG_DATABASE="overpass"
# OLAM PARAMS
export OLAM_DOMAIN="localhost"
export IS_PRODUCTION="false"
export OLAM_GPS_URL="127.0.0.1:9090"
export OLAM_EMAIL_URL="http://localhost"
export USER_TOKEN_VALIDITY="72"
