<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular.min.js"></script>
</head>
<body ng-app="app">
<h2>deferred</h2>

<div ng-controller="ctrl">
    <div><a href="#" ng-click="clickme()">Click me</a>
        <button type="button" ng-model="deferred" ng-click="click_button(deferred)">{{deferred}}</button>
    </div>
    <div>Value: {{value}}</div>
</div>
<script>
    angular.module('app', [])
            .controller('ctrl', function ($scope, $q, $timeout, $log) {

                //ngClick
                $scope.value = 'this is a scope value, will be replaced by deferred value.';
                var increment = function () {
                    var count = 1;
                    return function () {
                        return count++;
                    }
                }();

                function deferredme(success) {
                    var deferred = $q.defer();

                    $timeout(function () {
                        if (success) {
                            deferred.resolve({
                                value: 'deferred resolved successful'
                            });
                        } else {
                            deferred.reject({value: 'Rejected'});
                        }
                    }, 2000);

                    return deferred.promise;
                }

                $scope.clickme = function () {

                    deferredme(true).then(function (data) {
                        $scope.value = data.value + ': ' + increment();
                        $log.info('deferred done');
                    }, function (error) {
                        $log.error(error.message);
                    });
                }

                // ngModel
                $scope.deferred = {deferred: 'button'};
                $scope.click_button = function (button) {
                    $log.warn(button, typeof button);
                    button.deferred += increment();
                }

            });
</script>
</body>
</html>