<!DOCTYPE html>
<html ng-app="myapp">
<head>
    <meta charset="utf-8">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/css/bootstrap.css" rel="stylesheet">
    <title>Angular JS</title>
</head>
<body>
<div ng-controller="Ctrl as vm">
    <h2>{{vm.title}}</h2>

    <div class="well">
        <ul>
            <li ng-repeat="num in [1,2,3,4,5,6,7,8,9,10] | filter_num">{{num}}</li>
        </ul>
        <div ng-repeat="item in items | filter:filter_fun(criteria)">
            {{ item }}
        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
<script>
    (function () {
        'use strict';

        var app = angular.module('myapp', []);

        app.controller('Ctrl', Ctrl);

        function Ctrl($scope) {
            var vm = this;
            vm.title = 'hello world';
            $scope.items = [
                {name: 'Bob'},
                {name: 'Alice'}
            ];
            $scope.criteria = {name: 'Bob'};
            $scope.filter_fun = function (where) {
                return function (item) {
                    return item.name === where.name;
                };
            };
        }

        Ctrl.$inject = ['$scope'];

        app.config(function ($provide) {

            var factory_fn = function () {
                return {}
            };
            var service_class = function () {
            };
            var value_obj = {};
            var constant_obj = {};

            $provide.provider('game', function () {
                return {
                    $get: function () {
                        return {}
                    }
                }
            });

            $provide.constant('constant', constant_obj);
            $provide.value('value', value_obj);
            $provide.factory('factory', factory_fn);
            $provide.service('service', service_class);
        });

        app.run(function () {

        });

        app.filter('filter_num', function () {
            return function (num) {
                var out = [];
                for (var i = 0; i < num.length; i++) {
                    if (num[i] % 2 === 0)
                        out.push(num[i]);
                }
                return out;
            };
        });
    }());
</script>

</body>
</html>